.icon-hit-1 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 60px;
    width: 1em;
    height: .6em;
}

.icon-hit-2 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 30px;
    width: 1em;
    height: 1.3em;
}

.icon-hit-3 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 27px;
    width: 1em;
    height: 1.5em;
}

.icon-hit-4 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 41px;
    width: 1em;
    height: 1em;
}

.icon-hit-5 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 40px;
    width: 1em;
    height: 1.1em;
}

.icon-hit-6 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 34px;
    width: 1em;
    height: 1.3em;
}

.icon-hit-7 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 35px;
    width: 1em;
    height: 1.3em;
}

.icon-hit-8 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 45px;
    width: 1em;
    height: 1em;
}

.icon-hit-9 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 49px;
    width: 1em;
    height: .9em;
}

.icon-hit-10 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 45px;
    width: 1em;
    height: 1em;
}

/*icon sale*/
/*--------------------------*/

.icon-001-bathtub {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 26px;
    width: 1em;
    height: .5em;
}

.icon-002-shower-1 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}

.icon-003-sink {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}

.icon-004-sink {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 21px;
    width: 1em;
    height: 1em;
}

.icon-005-toilet {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 21px;
    width: 1em;
    height: 1em;
}

.icon-006-hand-dryer {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}

.icon-007-urinal {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1.1em;
}

.icon-008-mirror {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1.1em;
}

.icon-009-soap {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1.1em;
}

.icon-010-frame {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: .9em;
}

.icon-011-tap {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}

.icon-012-shower-1 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}

.icon-013-frame {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}

.icon-014-frame {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}


.icon-search {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}

.icon-phone {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 39px;
    width: 1em;
    height: 1em;
}


.icon-clock {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 39px;
    width: 1em;
    height: 1em;
}


.icon-user {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 39px;
    width: 1em;
    height: 1em;
}


.icon-basket {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 39px;
    width: 1em;
    height: 1em;
}


.icon-email {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 21px;
    width: 1em;
    height: .8em;
}



.icon-shop {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 21px;
    width: 1em;
    height: .8em;
}



.icon-phone-2 {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 19px;
    width: 1em;
    height: 1em;
}



.icon-delivery {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 26px;
    width: 1em;
    height: .8em;
}

.icon-pay {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: 1em;
}

.icon-point {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: 1.3em;
}


.icon-logo-ispi {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 52px;
    width: 1em;
    height: .7em;
}


.icon-arrow-bottom {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 12px;
    width: 1em;
    height: .5em;
}


.icon-close,
.icon-heart,
.icon-filter,
.icon-basket-outline,
.icon-service,
.icon-shop-outline,
.icon-delivery-outline,
.icon-pay-outline,
.icon-email-2,
.icon-phone-outline {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 20px;
    width: 1em;
    height: 1em;
}





